@import "tailwindcss";
@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.react-grid-placeholder {
  display: none !important;
}

* {
  user-select: none;
  scrollbar-width: none;
}
